.message{
    position: absolute;
    top: 400px;
    left: 600px;
}

.playarea{
    position: absolute;
    top: 500px;
    left: 550px;
    display: flex;
    flex-direction: row;
    text-align:center;
}


#play, #pass {
    position: relative;
    left: 200px;
    top: 100px;
}

.player1 {
    position: absolute;
    top: 800px;
    left: 150px
}
.player2 {
    position:absolute;
    top: 150px
    

}
.player3 {
position: absolute;
left: 1500px;
top: 150px
}

.landlord {
    position: absolute;
    top: 100px;
    left: 520px;
}


#hand1, .landlord{
    display: flex;
    flex-direction: row;
}

.P1back {
    background-image: url(https://freesvg.org/img/nicubunu_Card_backs_grid_blue.png) !important;
    background-size : cover;
    width: 100px;
    height: 100px;
    margin-right: -50px;

}

.landlordback {
    background-image: url(https://freesvg.org/img/nicubunu_Card_backs_grid_blue.png) !important;
    background-size : cover;
    width: 100px;
    height: 100px;
}


.P2back {
    background-image: url(https://freesvg.org/img/nicubunu_Card_backs_grid_blue.png) !important ;
    background-size : cover;
    width: 100px;
    height: 100px;
    margin-top: -40px;
    transform: rotate(0.25turn);
}

.P3back {
    background-image: url(https://freesvg.org/img/nicubunu_Card_backs_grid_blue.png) !important ;
    background-size : cover;
    width: 100px;
    height: 100px;
    margin-top: -40px;
    transform: rotate(0.75turn);
}

/* .back, .P1back, .P2back, .P3back {
    background-image: url(https://freesvg.org/img/nicubunu_Card_backs_grid_blue.png) !important
} */

.P1front {
    background-size : cover;
    width: 100px;
    height: 100px;
    margin-right: -40px;
}

.P2front {
    background-size : cover;
    width: 100px;
    height: 100px;
    margin-top: -40px;
    transform: rotate(0.25turn);

}

.P3front {
    background-size : cover;
    width: 100px;
    height: 100px;
    margin-top: -40px;
    transform: rotate(0.75turn);

}

.shiftup {
    position: relative;
    bottom: 20px;
}


#Spades14 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Ace_of_spades.png);
}


#Spades15{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_2_of_spades.png);
}

#Spades3{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_3_of_spades.png);
}


#Spades4 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_4_of_spades.png);
}

#Spades5 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_5_of_spades.png);
}

#Spades6 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_6_of_spades.png);

}

#Spades7{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_7_of_spades.png);

}

#Spades8 {

    background-image: url(https://freesvg.org/img/nicubunu_White_deck_8_of_spades.png);
}

#Spades9 {

    background-image: url(https://freesvg.org/img/nicubunu_White_deck_9_of_spades.png);
}

#Spades10 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_10_of_spades.png);
}

#Spades11 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Jack_of_spades.png);
}

#Spades12 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Queen_of_spades.png);
}

#Spades13 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_King_of_spades.png);
}

/* ------------------------------------ */
#Heart14 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Ace_of_hearts.png);
}

#Heart15 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_2_of_hearts.png);
}

#Heart3 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_3_of_hearts.png);

}

#Heart4 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_4_of_hearts.png);

}

#Heart5 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_5_of_hearts.png)
}

#Heart6 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_6_of_hearts.png)
}

#Heart7 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_7_of_hearts.png)
}

#Heart8 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_8_of_hearts.png)
}

#Heart9 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_9_of_hearts.png)
}

#Heart10 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_10_of_hearts.png)
}

#Heart11 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Jack_of_hearts.png)
}

#Heart12 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Queen_of_hearts.png)
}

#Heart13 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_King_of_hearts.png)
}

/* ------------------------------------ */

#Diamonds14 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Ace_of_diamonds.png);
}

#Diamonds15{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_2_of_diamonds.png);
}

#Diamonds3 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_3_of_diamonds.png);

}

#Diamonds4{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_4_of_diamonds.png);

}

#Diamonds5 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_5_of_diamonds.png)
}

#Diamonds6 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_6_of_diamonds.png)
}

#Diamonds7{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_7_of_diamonds.png)
}

#Diamonds8{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_8_of_diamonds.png)
}

#Diamonds9 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_9_of_diamonds.png)
}

#Diamonds10 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_10_of_diamonds.png)
}

#Diamonds11 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Jack_of_diamonds.png) 
}

#Diamonds12 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Queen_of_diamonds.png)
}

#Diamonds13{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_King_of_diamonds.png)
}

/* ------------------------------------ */

#Club14{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Ace_of_clubs.png);
}

#Club15 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_2_of_clubs.png);
}

#Club3{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_3_of_clubs.png);

}

#Club4{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_4_of_clubs.png);

}

#Club5{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_5_of_clubs.png)
}

#Club6 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_6_of_clubs.png)
}

#Club7{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_7_of_clubs.png)
}

#Club8{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_8_of_clubs.png)
}

#Club9 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_9_of_clubs.png)
}

#Club10{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_10_of_clubs.png)
}

#Club11 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Jack_of_clubs.png)
}

#Club12 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Queen_of_clubs.png)
}

#Club13{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_King_of_clubs.png)
}

#Black16 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Black_Joker.png)
}

#Red16 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Red_Joker.png)
}
