.player1 {
    position: absolute;
    top: 800px;
    left: 300px
}
.player2 {
    position:absolute;
    top: 150px
    

}
.player3 {
position: absolute;
left: 1200px;
top: 150px
}

.landlord {
    position: absolute;
    top: 100px;
    left: 520px;
}


#hand1 {
    display: flex;
    flex-direction: row;
}


.P1front {
    background-size : cover;
    width: 100px;
    height: 100px;
    margin-right: -60px;
}

.P2front {
    background-size : cover;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    transform: rotate(0.25turn);

}

.P3front {
    background-size : cover;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    transform: rotate(0.75turn);

}



#SpadesA {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Ace_of_spades.png);
}


#Spades2{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_2_of_spades.png);
}

#Spades3{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_3_of_spades.png);
}


#Spades4 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_4_of_spades.png);
}

#Spades5 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_5_of_spades.png);
}

#Spades6 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_6_of_spades.png);

}

#Spades7{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_7_of_spades.png);

}

#Spades8 {

    background-image: url(https://freesvg.org/img/nicubunu_White_deck_8_of_spades.png);
}

#Spades9 {

    background-image: url(https://freesvg.org/img/nicubunu_White_deck_9_of_spades.png);
}

#Spades10 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_10_of_spades.png);
}

#SpadesJ {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Jack_of_spades.png);
}

#SpadesQ {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Queen_of_spades.png);
}

#SpadesK {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_King_of_spades.png);
}

/* ------------------------------------ */
#HeartA {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Ace_of_hearts.png);
}

#Heart2 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_2_of_hearts.png);
}

#Heart3 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_3_of_hearts.png);

}

#Heart4 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_4_of_hearts.png);

}

#Heart5 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_5_of_hearts.png)
}

#Heart6 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_6_of_hearts.png)
}

#Heart7 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_7_of_hearts.png)
}

#Heart8 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_8_of_hearts.png)
}

#Heart9 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_9_of_hearts.png)
}

#Heart10 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_10_of_hearts.png)
}

#HeartJ {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Jack_of_hearts.png)
}

#HeartQ {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Queen_of_hearts.png)
}

#HeartK {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_King_of_hearts.png)
}

/* ------------------------------------ */

#DiamondsA {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Ace_of_diamonds.png);
}

#Diamonds2{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_2_of_diamonds.png);
}

#Diamonds3 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_3_of_diamonds.png);

}

#Diamonds4{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_4_of_diamonds.png);

}

#Diamonds5 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_5_of_diamonds.png)
}

#Diamonds6 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_6_of_diamonds.png)
}

#Diamonds7{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_7_of_diamonds.png)
}

#Diamonds8{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_8_of_diamonds.png)
}

#Diamonds9 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_9_of_diamonds.png)
}

#Diamonds10 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_10_of_diamonds.png)
}

#DiamondsJ {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Jack_of_diamonds.png) 
}

#DiamondsQ {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Queen_of_diamonds.png)
}

#DiamondsK{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_King_of_diamonds.png)
}

/* ------------------------------------ */

#ClubA{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Ace_of_clubs.png);
}

#Club2 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_2_of_clubs.png);
}

#Club3{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_3_of_clubs.png);

}

#Club4{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_4_of_clubs.png);

}

#Club5{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_5_of_clubs.png)
}

#Club6 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_6_of_clubs.png)
}

#Club7{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_7_of_clubs.png)
}

#Club8{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_8_of_clubs.png)
}

#Club9 {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_9_of_clubs.png)
}

#Club10{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_10_of_clubs.png)
}

#ClubJ {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Jack_of_clubs.png)
}

#ClubQ {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Queen_of_clubs.png)
}

#ClubK{
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_King_of_clubs.png)
}

#BlackJoker {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Black_Joker.png)
}

#RedJoker {
    background-image: url(https://freesvg.org/img/nicubunu_White_deck_Red_Joker.png)
}

.back, .P1back, .P2back, .P3back {
    background-image: url(https://freesvg.org/img/nicubunu_Card_backs_grid_blue.png) !important
}